//-
    * @file Listing of globally included libraries in the production environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

script(src="/master/start.js")
script(src="/components/state.js")